@import 'styles/mediaQuery.scss';

@mixin default {
  width: 54%;
  max-width: 1152px;
  margin: 0 auto;
}

.default {
  @include default;
  @include mq('md') {
    width: 78%;
  }
  @include mq('sm') {
    width: 90%;
  }
}

.large {
  @include default;
  width: 90%;
  max-width: 1280px;
}
