@import 'styles/mediaQuery.scss';

@mixin default {
  width: 60%;
  max-width: 1152px;
  margin: 0 auto;
}

.default {
  @include default;

  @include mq('md') {
    width: 76%;
  }
}

.large {
  @include default;
  width: 90%;
  max-width: 1280px;
}
