@import 'styles/mediaQuery.scss';

.list {
  display: flex;
  gap: 2em;
}

.link {
  color: var(--color-black);
  font-size: var(--font-size-heading3);
  font-weight: var(--font-weight-bold);

  &:hover {
    color: var(--color-link);
  }

  @include mq('sm') {
    display: none;
  }
}
